
  <%= p.fields_for :path do |pa| %>
  <% i =  (p.options[:child_index] + 1).to_s%>

    <div class="newChapterContentPath<%= i %> clearfix">    
      <%= text_area_tag 'chapter[plots][paths][path'+i +'content]', pa.object.content, placeholder: "Chapter choice " +i ,:required => true,maxlength: 200  %>
 
    </div> 
  <% end %>


