<!-- <span style="background:white;"><%= @chapter.inspect%></span>  -->
<div class="startBodyWrapper">
	<div class="startAlignButtonWrapper">
		<div class="startPageButtonWrapper">
			<%= link_to 'Start here', chapter_path(:id => @chapter.id), class: "startPageButton" %>
		</div>

	</div>
</div>

