<div class="listBody">
<ul >
  <% @chapters.reverse.each do |chapter| %>
    <li>
    	<div class="listContent">
    		<%= chapter.content %>
    	</div>
      <div class="listButton">
      	<%= button_to "Delete", chapter_path(chapter.id), onclick: "return alert('Hey!)'", method: :delete%>
      </div>
    </li>
  <% end %>
</ul>

</div>