
<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>
 

<p>
  <strong>ID:</strong>
  <%= @chapter.id %>
</p>






<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>


---------



<p>
  <strong>Inspect:</strong>
  <%= @chapter.inspect %>
</p>